<kendo-formfield>
    <kendo-label
      labelCssClass="k-form-label"
      [for]="label"
      [text]="label"
    ></kendo-label>
  
    <ng-container [ngSwitch]="type">
      <kendo-textbox
        *ngSwitchCase="'text'"
        [formControl]="control"
        [id]="label"
      ></kendo-textbox>
  
      <kendo-textbox
        *ngSwitchCase="'email'"
        [formControl]="control"
        [id]="label"
        type="text"
      ></kendo-textbox>
  
      <kendo-datepicker
        *ngSwitchCase="'date'"
        [formControl]="control"
        [id]="label"
      ></kendo-datepicker>
    </ng-container>
  
    <kendo-formhint *ngIf="hint">{{ hint }}</kendo-formhint>
    <kendo-formerror *ngIf="control.invalid && control.touched">
      {{ error }}
    </kendo-formerror>
  </kendo-formfield>
  