<kendo-grid [data]="gridData">
  <kendo-grid-column *ngFor="let col of columnFields" [field]="col.field" [title]="col.title">
    <ng-template kendoGridCellTemplate let-dataItem>
      <ng-container [ngSwitch]="col.field">
        <span *ngSwitchCase="'status'" [appStatusColor]="dataItem[col.field]">{{ dataItem[col.field] }}</span>
        <span *ngSwitchCase="'startDate'">{{ dataItem[col.field] | date: 'dd MMM yyyy, hh:mm a' }}</span>
        <span *ngSwitchCase="'endDate'">{{ dataItem[col.field] | date: 'dd MMM yyyy, hh:mm a' }}</span>
        <span *ngSwitchDefault>{{ dataItem[col.field] }}</span>
      </ng-container>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column>
    <ng-template kendoGridCellTemplate let-dataItem>
      <ng-container *ngFor="let action of actions">
        <!-- <a [routerLink]="action.type!=='delete' ? [action.link, dataItem.id,] : []" [class]="action.class" class="kendo-action-link" [ngStyle]="{ backgroundColor: action.color }" (click)="action.type==='delete' ? handleClick(dataItem.id): null"></a> -->
        <app-kendo-button
          [action]="action"
          [dataItem]="dataItem"
          [routerLink]="(action.type!=='delete' && action.link) ? (action.type==='add'? [action.link] : [action.link, dataItem.id]) : []"
          (handleClick)="(action.type==='delete' || action.type==='add' || action.type==='refresh') ? handleClick(dataItem.id) : null"
          >
        </app-kendo-button>
      </ng-container>
    </ng-template>
  </kendo-grid-column>
  <ng-template kendoGridNoRecordsTemplate>
    <div class="no-data-text">
      No Data Available
    </div>
  </ng-template>
</kendo-grid>