.no-data-text {
  text-align: center;
  padding: 20px;
  font-weight: bold;
  color: #666;
}
.actions-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fit-content-cell {
  white-space: nowrap;
}
::ng-deep .k-grid .k-header {
  font-weight: bold;
  background-color: #00a6ff;
  color: white;
}