<h1>Edit Page</h1>

<form [formGroup]="taskForm" (ngSubmit)="onUpdate()" class="k-form k-form-vertical">

  <app-kendo-label [label]="'Title'"></app-kendo-label>
  <app-kendo-input
    [control]="titleControl"
    [label]="'Title'"
    [placeholder]="'Enter title'"
  ></app-kendo-input>
  <app-kendo-error
    [control]="titleControl"
    [error]="'Title is required'"
  ></app-kendo-error>


  <app-kendo-label [label]="'Description'"></app-kendo-label>
 <app-kendo-textarea
  [control]="descriptionControl"
  [label]="'Description'"
  [placeholder]="'Enter description'"
></app-kendo-textarea>
<app-kendo-error
  [control]="descriptionControl"
  [error]="'Description is required'"
></app-kendo-error>


<app-kendo-dropdown
  [dropdownData]="['Pending', 'In Progress', 'Done']"
  [control]="statusControl"
></app-kendo-dropdown>
<app-kendo-error
    [control]="statusControl"
    [error]="'Status is required'"
  ></app-kendo-error>


  <app-kendo-dropdown
  [dropdownData]="['High', 'Medium', 'Low']"
  [control]="priorityControl"
 ></app-kendo-dropdown>
<app-kendo-error
    [control]="priorityControl"
    [error]="'Priority is required'"
  ></app-kendo-error>
  


    <app-kendo-button
    [buttonText]="'Update'"
    [action]="{
        type: 'submit',
        link: '',
        class: '',
        color: 'blue'
    }" 
    (handleClick)="onUpdate()"
></app-kendo-button>


</form>
