.custom-kendo-popup .k-list-item:hover {
  background-color: #00a6ff !important;
  color: #ffffff !important;
}
.custom-kendo-popup .k-list-item.k-selected {
  background-color: #00a6ff !important;
  color: #ffffff !important;
}
.custom-kendo-popup .k-list-optionlabel:hover {
  background-color: #00a6ff !important;
}
.custom-kendo-popup .k-list-optionlabel.k-selected {
  background-color: #00a6ff !important;
}