.kendo-action-link {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 6px;
  width: fit-content;
  padding: 10px;
  border-radius: 6px;
  font-size: 16px;
  color: white;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.03);
  }
  .k-icon {
    font-size: 1.1rem;
  }
}
a{
  text-decoration: none;
}