.kendo-action-link {
  align-items: center;
  justify-content: space-around;
  // margin-right: 6px;
  width: fit-content;
  padding: 10px;
  border-radius: 6px;
  font-size: 16px;
  color: white;
  transition: filter 0.2s ease;

  &:hover {
    // transform: scale(1.03);
    filter: brightness(88%);
  }
  .k-icon {
    font-size: 1.1rem;
  }
}
a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.btn-text {
  margin-left: 8px;
}